
.mat-toolbar{
    background-color: #37B39C;
}
.mat-drawer-container{
    background-color: white;
    color:black;
}

.mat-list-item{
    color: #1b6463;
} 
.mat-drawer {
    background-color: white;
}