.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 500px;
    margin: 1em auto;
}

#container {
    height: 400px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


/* table */
.demo-table {
    width: 60%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 3em;
    }

h3{
    color: #1b6463;
    font-family: 'Lato', sans-serif ;
    opacity: 0.8;
    font-size: 1em;
    margin: 1.5em;
    letter-spacing: 3px;
}

.mainDetails{
    margin: 1em;
}

p{
    color: #1b6463;
    font-family: 'Lato', sans-serif ;
    opacity: 0.8;
    font-size: 1em;
    margin: 1em;
    letter-spacing: 3px;
}

.mat-header-cell {
    background-color:  #1b6463 !important ;
    color: white !important;
    font-family: 'Lato', sans-serif ;
    border: hidden !important;
    
}


.mat-column-Name {
    padding-left: 16px;
    font-size: 20px;
    color: #1b6463;
    background-color: white;
    font-family: 'Lato', sans-serif ;
    font-size: 1em;
    }

.mat-column-Quantity {
    font-style: italic;
    color: #1b6463;
    background-color: white;
    font-family: 'Lato', sans-serif ;
    font-size: 1em;
    }

.mat-column-Notes {
    width: fit-content;
    text-align: center;
    font-weight: bold;
    color: #1b6463;
    background-color: white;
    font-family: 'Lato', sans-serif ;

    }  
