<app-spinner *ngIf="flagSpinner; else mainVersus " ></app-spinner>

<ng-template #mainVersus>

<div class="container">
  <div>
    <p *ngFor="let item of current_obj">
      Name: {{item.Name}}
  </p>
  
  <p *ngFor="let item of current_obj">
      Level: {{item.Level}}
  </p>
  
  <p *ngFor="let item of current_obj">
      Region: {{item.Region}}
  </div>
    
</div>
<highcharts-chart 
    style="width: 100%; display: block;"
    [Highcharts]="Highcharts"
    [options]="chart"
>
</highcharts-chart>


<div class="container">

    <h3>Meeting / Course</h3>

    <table mat-table [dataSource]=" vsMcObject" class="mat-elevation-z8 demo-table">

      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      
      
      <!-- Position Column -->
        <ng-container matColumnDef="Se tiene">
          <th mat-header-cell *matHeaderCellDef> Actual </th>
          <td mat-cell *matCellDef="let element"> {{element.eval}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="Objetivo">
          <th mat-header-cell *matHeaderCellDef> Objetivo </th>
          <td mat-cell *matCellDef="let element"> {{element.obj_q}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="Porcentaje">
          <th mat-header-cell *matHeaderCellDef> Porcentaje </th>
          <td mat-cell *matCellDef="let element"> {{element.percent}} </td>
        </ng-container>
    
        
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <br>

    <h3>Certifications</h3>

    <table mat-table [dataSource]=" vsCertObject" class="mat-elevation-z8 demo-table">
      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="Se tiene">
          <th mat-header-cell *matHeaderCellDef> Actual </th>
          <td mat-cell *matCellDef="let element"> {{element.eval}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="Objetivo">
          <th mat-header-cell *matHeaderCellDef> Objetivo </th>
          <td mat-cell *matCellDef="let element"> {{element.obj_q}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="Porcentaje">
          <th mat-header-cell *matHeaderCellDef> Porcentaje </th>
          <td mat-cell *matCellDef="let element"> {{element.percent}} </td>
        </ng-container>
    
        
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <h3>Certifications Data</h3>

    <table mat-table [dataSource]=" datails_kof" class="mat-elevation-z8 demo-table">
      <!-- Person Column -->
      <ng-container matColumnDef="Person">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.Person}} </td>
      </ng-container>
        <!-- NameCert Column -->
        <ng-container matColumnDef="NameCert">
          <th mat-header-cell *matHeaderCellDef> Certification Name </th>
          <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="Caducity_date">
          <th mat-header-cell *matHeaderCellDef> Caducity Date </th>
          <td mat-cell *matCellDef="let element"> {{element.Caducity_date}} </td>
        </ng-container>
    
        <!-- Status Column -->
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="Progress">
          <th mat-header-cell *matHeaderCellDef> Progress </th>
          <td mat-cell *matCellDef="let element">   {{element.Progress}} </td>
        </ng-container>

        
        
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>

    <h3>MC Data</h3>

    <table mat-table [dataSource]=" details_mc" class="mat-elevation-z8 demo-table">
      <!-- Person Column -->
      <ng-container matColumnDef="Person">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.Person}} </td>
      </ng-container>
        <!-- NameCert Column -->
        <ng-container matColumnDef="NameCert">
          <th mat-header-cell *matHeaderCellDef> MC Name</th>
          <td mat-cell *matCellDef="let element"> {{element.Name_M_C}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="Caducity_date" p>
          <th mat-header-cell *matHeaderCellDef> Partner </th>
          <td mat-cell *matCellDef="let element"> {{element.Partner}} </td>
        </ng-container>
    
        <!-- Status Column -->
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="Progress">
          <th mat-header-cell *matHeaderCellDef> Progress </th>
          <td mat-cell *matCellDef="let element">   {{element.Progreso}} </td>
        </ng-container>

        
        
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>

</div>
