

<div class="mainContainer">
    <div class="mexContainer">

        <div class="Title">México</div>
        <div class="cardContainer"><div class="cards" *ngFor="let result of resultadosObjectives">
            <!-- <p *ngIf="result.Status == 'Complete'">{{result.Status}} - {{result.Person}}     </p> -->
            <!-- <p>{{result.Name}}</p> -->
            <mat-card *ngIf="result.Region == 'México - Mexico City'">
                <mat-card-header>
                    <div mat-card-avatar class="beyond-header-image"></div>
                    <mat-card-title>{{result.Name}}</mat-card-title>
                    <mat-card-subtitle>{{result.Level}}</mat-card-subtitle>
                </mat-card-header>
        
                <mat-card-content>
                    <img mat-card-image src="assets/chart.png" alt="">
                </mat-card-content>
                
                <mat-card-actions>
                    <button mat-button>VS</button>
                    <button mat-button>Details</button>
                </mat-card-actions>
            </mat-card>
        </div>
    
        
    
    </div>
    
    <div class="usaContainer">
        <div class="Title">USA</div>
        <div class="cardContainer"><div class="cards" *ngFor="let result of resultadosObjectives">
            <!-- <p *ngIf="result.Status == 'Complete'">{{result.Status}} - {{result.Person}}     </p> -->
            <!-- <p>{{result.Name}}</p> -->
            <mat-card *ngIf="result.Region == 'USA - Houston'">
                <mat-card-header>
                    <div mat-card-avatar class="beyond-header-image"></div>
                    <mat-card-title>{{result.Name}}</mat-card-title>
                    <mat-card-subtitle>{{result.Level}}</mat-card-subtitle>
                </mat-card-header>
        
                <mat-card-content>
                    <img mat-card-image src="assets/chart.png" alt="">
                </mat-card-content>
                
                <mat-card-actions>
                    <button mat-button>VS</button>
                    <button mat-button>Details</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    
</div>


    






<!-- <div *ngFor="let result of resultados let i = index">
    {{i+1}} {{result.Person}}
</div>
-->
<!-- <p>{{sumaCert}}</p>
<p>{{sumMcObj}}</p>
<p>{{sumCertObj}}</p> -->